/.buildpath
/.cache
/.metadata
/.project
/.settings
atlassian*
/nbproject
/sitemap
/.idea
/.gitattributes

/src/app/code/Magento
/src/app/design/*/Magento
/src/app/etc
/src/app/i18n/magento
/src/app/*.*

/src/bin

/src/dev/shell

/src/dev/tests/*/framework
/src/dev/tests/*/testsuite/Magento
/src/dev/tests/*/tmp
/src/dev/tests/*/etc
/src/dev/tests/*/*.*
/src/dev/tests/*.*
/src/dev/tests/api-functional/config
/src/dev/tests/api-functional/_files/Magento
/src/dev/tests/js/JsTestDriver/framework
/src/dev/tests/js/JsTestDriver/testsuite/lib
/src/dev/tests/js/JsTestDriver/testsuite/mage
/src/dev/tests/js/JsTestDriver/*.*
/src/dev/tests/js/jasmine/assets
/src/dev/tests/js/jasmine/spec_runner
/src/dev/tests/js/jasmine/tests/app/code/Magento
/src/dev/tests/js/jasmine/tests/lib/mage
/src/dev/tests/js/jasmine/*.*
/src/dev/tests/performance
/src/dev/tests/functional/lib/Magento
/src/dev/tests/functional/tests/app/Magento
/src/dev/tests/functional/testsuites/Magento
/src/dev/tests/functional/utils

/src/dev/tools/Magento
/src/dev/tools/grunt
/src/dev/tools/*.*

/src/dev/*.*

/src/lib

/src/pub

/src/setup

/src/var

/src/vendor

/src/node_modules

!/composer.json
!/composer.lock
!/README.md

