<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="pimgento" xsi:type="object">Orcab\Pimgento\Console\Command\OrcabPimgentoCommand</item>
            </argument>
        </arguments>
    </type>
    <preference for="Pimgento\Category\Model\Factory\Import" type="Orcab\Pimgento\Model\Rewrite\Category\Factory\Import" />
    <preference for="Pimgento\Product\Model\Factory\Import" type="Orcab\Pimgento\Model\Rewrite\Product\Factory\Import" />
    <preference for="Pimgento\Product\Observer\AddPimgentoImportObserver" type="Orcab\Pimgento\Observer\Rewrite\Product\AddPimgentoImportObserver" />
</config>
