<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="orcab_catalog" frontName="orcab_catalog">
            <module name="Orcab_Catalog" before="Magento_Catalog" />
        </route>
    </router>
</config>
